
@use '@angular/material' as mat;

@include mat.core();

$blog-angular-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$blog-angular-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$blog-angular-warn: mat.m2-define-palette(mat.$m2-red-palette);

$blog-angular-theme: mat.m2-define-light-theme((
  color: (
    primary: $blog-angular-primary,
    accent: $blog-angular-accent,
    warn: $blog-angular-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

@include mat.all-component-themes($blog-angular-theme);

:root {
  --background-color: #121212;
  --font-color: #ECECEC;
  --secondary-color: #878787;
  --secondary-dark-color: #505050;
  --border-color: #2a2a2a;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans Gurmukhi', sans-serif;
  color: var(--font-color);
  text-decoration: none;
}

html, body { height: auto; }

body {
  display: flex;
  justify-content: center;
  background-color: var(--font-color);
}

#root {
  width: 100%;
  max-width: 90rem;
  background-color: var(--background-color);
  padding-inline: 3.5rem;
}

.mat-mdc-menu-content  {
  background-color: var(--font-color);

  span {
    color: var(--primary-color);
    font-size: 1.25rem;
  }
}

.bottom-border {
  padding-block: 2rem;
  border-bottom: 1px var(--border-color) solid;
}

@media (max-width: 720px) {
  #root {
    padding-inline: 1.5rem;
  }

  .bottom-border {
    padding-block: 1.25rem;
  }
}
