
@use '@angular/material' as mat;

@include mat.core();

$blog-angular-primary: mat.define-palette(mat.$indigo-palette);
$blog-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$blog-angular-warn: mat.define-palette(mat.$red-palette);

$blog-angular-theme: mat.define-light-theme((
  color: (
    primary: $blog-angular-primary,
    accent: $blog-angular-accent,
    warn: $blog-angular-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($blog-angular-theme);

:root {
  --background-color: #121212;
  --font-color: #ECECEC;
  --secondary-color: #878787;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans Gurmukhi', sans-serif;
  color: var(--font-color);
  text-decoration: none;
}

html, body { height: 100%; }

body {
  display: flex;
  justify-content: center;
  background-color: var(--font-color);
}

#root {
  width: 100%;
  max-width: 80rem;
  background-color: var(--background-color);
  padding-inline: 1.5rem;
}

.mat-mdc-menu-content  {
  background-color: var(--font-color);

  span {
    color: var(--primary-color);
    font-size: 1.25rem;
  }
}
